@use '../forwards' as fw
@use '../media-query' as *

.page 
  main 
    .contents
      .frame.prayer, .frame.contact
        background-image: url(./img/prayer-top.jpg)
      .container.prayer, .container.contact
        .bg 
          section 
            .contents.prayer, .contents.contact
              .gradually-appear, .gradually-appear-long
                display: flex
                flex-direction: column
                align-items: center
                margin-top: 120px
                .wrapper
                  width: min(610px, 100%)
                  margin-top: 40px
                  .leading-square-header
                    margin-bottom: 20px
                    &::before
                      top: 58%
                      width: 9px
                      height: 1.7rem
                  p
                    margin-bottom: 50px
                    text-align: left
                  ul
                    margin: 0 auto
                    width: fit-content
                    padding: 20px 100px
                    border: 1px solid #333
                    li
                      text-align: center
                      &.tel-num
                        font-size: 1.65rem
                        letter-spacing: .3em
                      + li
                        margin-top: 10px
                .dl-pdf-btn
                  margin-top: 60px
              .gradually-appear:first-of-type
                margin-top: 0

.page 
  main 
    .contents
      .container.prayer, .container.contact
        h3
          margin-bottom: 30px
          letter-spacing: .07em
          &::before, &::after
            width: calc( 50% - 150px )
        p
          font-size: 1.15rem
          line-height: 1.75em
          &.add-space-margin-bottom
            margin-bottom: 20px
        button
          padding: 10px 60px
          font-size: 1rem
          border: 1px solid #333
          transition: .3s
          transform: translateY(2px)
          &:hover
            color: #fff
            background-color: #aaa
            border: 1px solid #aaa
            transform: translateY(0)
            box-shadow: 0 2px 5px #333
        .privacy-policy-anchor
          padding: 3px 7px
          font-size: .65rem
          color: #fff
          background-color: #333
          border-radius: 2px
        .check-box
          display: flex
          align-content: center
          input[type="checkbox"] 
            position: relative
            margin-right: 5px
            width: .8rem
            height: .8rem
            border: 1px solid #000
          input[type="checkbox"]:checked:before 
            position: absolute
            top: 0px
            left: 4px
            transform: rotate(50deg)
            width: 5px
            height: 10px
            border-right: 2px solid #000
            border-bottom: 2px solid #000
            content: ''
          label
            font-size: .75rem

.page 
  main 
    .contents
      .container.prayer, .container.contact
        .form
          padding-bottom: 15rem
          div
            display: grid
            grid-template-columns: 1fr 3.5fr
            gap: 10px
            align-items: center
            + div
              margin-top: 30px
            font-size: 1.15rem
            dt
              p
                display: flex
                align-items: flex-start
                gap: 2px
                font-weight: normal
                sup
                  font-size: .7rem
            dd
              height: 3rem
              p
                span
                  position: relative
                  input
                    width: 100%
                    height: 3rem
                    padding: 1rem
                    font-size: 1rem
                    border: 1px solid #333
                  textarea
                    width: 100%
                    height: 15rem
                    border: 1px solid #333
                  .wpcf7-not-valid-tip
                    position: absolute
                    bottom: -115%
                    left: 0%
                    font-size: .9rem
                    font-weight: 600
                    line-height: 1
            &.note
              margin: 50px 0 5px
              dd
                display: flex
                border: unset
                align-items: flex-end
                font-size: 1rem
            &:nth-of-type(2)
              margin-top: 0
            &.birthday, &.age, &.postal-code, &.date, &.time, &.prayer-member-length, &.group-member-length
              dd
                display: flex
                justify-content: flex-start
                align-items: center
                gap: 10px
                div
                  display: block
                  &.postal-code-4
                    margin-top: 0
                  &.age
                    margin-top: 0
                p
                  display: flex
                  align-items: center
                  gap: 5px
                  span
                    input
                      width: 10rem
            &.sender-name, &.group-leader
              dd
                p
                  display: flex
                  justify-content: space-between
                  align-items: center
                  gap: 5px
                  span
                    width: 100%

        .confirm
          display: flex
          flex-direction: column
          align-items: center
          p
            margin: 0
          
.page
  main
    .contents
      .container.prayer, .container.contact
        .form
          .date-time
            dd
              .date, .time
                p
                  span
                    .wpcf7-not-valid-tip                                    
                      bottom: -34%
              .time
                p
                  span
                    .wpcf7-not-valid-tip  
                      white-space: nowrap                                  
.page
  main
    .contents
      .container.prayer, .container.contact
        .form
          .prayer-member-length, .group-member-length
            dd
              p
                display: flex
                align-items: center
                gap: 5px
                span
                  .wpcf7-not-valid-tip                                    
                    bottom: -34%
                    white-space: nowrap
                    input
                      width: 10rem
                      text-align: right
.page
  main
    .contents
      .container.prayer, .container.contact
        .form
          div
            .prayer-message
              position: relative
              &::before
                position: absolute
                top: -15px
                left: 0
                content: "健闘祈願【試合・大会名・試合日】・スポーツ上達・技術根性育成・厄除・心願成就 等々"
                width: 100%
                padding-bottom: 5px
                font-size: .8rem
                line-height: 1em
                z-index: 100                    

.page
  main
    .contents
      .container.prayer, .container.contact
        .bg
          section
            .contents.prayer, .contents.contact
              .gradually-appear-long
                .wpcf7.js
                  table
                    tr
                      th
                        width: 100%
                      &:last-of-type
                        display: none
                  .wpcf7cp-btns
                    display: flex
                    justify-content: center
                    gap: 30px
                    margin: 0
                    button
                      margin: 0

.page
  main
    .contents
      .container.prayer, .container.contact
        .confirm
          .check-box
            label
              display: flex
              align-items: center  
              span
                padding-bottom: 2px
          .agreement
            width: 100%
            margin-top: 50px
            p
              button.prayer-submit
                width: 100%
                margin-top: 0
                padding: 10px 0
                font-size: 1.3rem
                line-height: 1
                text-align: center
                color: #333
                background-color: #fff
                border: 1px solid #333
                border-radius: 0
                transform: translateY(2px)
                &:hover
                  color: #fff
                  background-color: #aaa
                  border: 1px solid #aaa
                  transform: translateY(0)
                  box-shadow: 0 2px 5px #333
                .wpcf7-spinner
                  display: none
                input
                  padding-left: 1rem
                  letter-spacing: 1rem

.page
  main
    .contents
      .container.prayer, .container.contact
        .bg
          section
            .contents.prayer, .contents.contact
              margin-top: 0
              padding-top: 140px

// for sm
.page
  main
    .contents
      +max(md)
        .container.prayer, .container.contact
          .form
            div
              display: block
.page
  main
    .contents
      +max(md)
        .container.prayer
          .bg
            section
              .contents.prayer
                .gradually-appear, .gradually-appear-long
                  margin-top: 60px
                  h3::before, h3::after
                    width: calc(50% - 95px)
                  p, .wrapper
                    padding: 0 1rem
                  .wrapper
                    > p
                      margin-bottom: 20px
                    > ul
                      width: 100%
                      padding: 1rem 0
                  &.fax-send
                    h3::before, h3::after
                      width: calc(50% - 120px)
                  &.mail-send
                    h3::before, h3::after
                      width: calc(50% - 135px)
                  .dl-pdf-btn
                    margin-top: 30px
                    padding: 2rem 1rem
.page   
  main  
    .contents
      +max(md)
        .container.prayer
          .form
            div.group-leader, .container.contact
              dd
                p
                  span
                    input
                      width: 100%
.page
  main
    .contents
      .container.prayer
        .form
          div.sender-name
            dd
              p
                span
                  .wpcf7-not-valid-tip    
                    bottom: -35%
.page
  main
    .contents
      +max(md)
        .container.prayer
          .form
            div.sender-name
              dd
                p
                  span
                    .wpcf7-not-valid-tip    
                      bottom: -35%
.page
  main
    .contents
      +max(md)
        .container.prayer
          .form
            div.prayer-message-wrapper
              padding-bottom: 2rem
              .prayer-message
                &::before
                  top: 55px
                  width: fit-content
                  padding: 0 1rem
                p
                  .wpcf7-form-control-wrap
                    input
                    .wpcf7-not-valid-tip
                      top: 290%
.page
  main
    .contents
      .container.prayer
        .form
          div.date, div.time, div.prayer-member-length
            dd
              p
                span
                  .wpcf7-not-valid-tip 
                    bottom: -35%                                     
.page
  main
    .contents
      +max(md)
        .container.prayer
          .form
            div.date, div.time, div.prayer-member-length
              dd
                p
                  span
                    .wpcf7-not-valid-tip 
                      bottom: -35%                                     