@use '../forwards' as fw
@use '../media-query' as *

.page 
  main 
    .contents
      .frame.guide
        background-image: url(./img/guide-top.jpg)
      .container.guide-shrine
        .bg 
          section 
            .contents
              &.guide-map
                margin-top: 0
                padding: 0
                overflow: hidden
                z-index: fw.get_index(guide-contents)
                
                // なんか怪しい場所　12/22まで様子見る start
                // .gradually-appear
                .header
                  width: 100%
                  padding: 100px 100px 0
                  h3
                    letter-spacing: .1em
                  .note
                    margin-top: 20px
                    text-align: center
                .Illustrative-map
                  position: relative
                  width: 100%
                  aspect-ratio: 3/1.8
                  img
                    +fw.positionAbsoluteCTL
                    width: 75%
                    object-fit: contain
                    z-index: 1
                  ul
                    position: absolute
                    top: 70px
                    left: 7%
                    width: fit-content
                    border-bottom: 1px solid fw.$gold
                    z-index: fw.get_index(guide-ul)
                    li
                      + li
                        border-top: 1px solid fw.$gold
                      .modal-open-trigger
                        display: block
                        height: 100%
                        padding: 20px
                        background-color: #fff
                        cursor: pointer
                        transition: .5s
                        opacity: .9
                        &:hover
                          color: #fff
                          background-color: #aaa
                          opacity: .6
                      &:last-of-type
                        > div
                          padding: 0
                          transition: .5s
                          opacity: .9
                          background-color: #fff
                          > a
                            display: block
                            padding: 20px
                          &:hover
                            color: #fff
                            background-color: #aaa
                            opacity: .6
                // なんか怪しい場所　12/22まで様子見る　end

              &.reiboku
                padding: 120px 15% 0
                background-color: transparent
                .gradually-appear-short
                  ul
                    display: grid
                    grid-template-columns: repeat(4, 1fr)
                    gap: 20px
                    margin: 30px 0 120px
                    li
                      width: 100%
                      height: 100%
                      .modal-open-trigger
                        display: block
                        height: 100%
                        cursor: pointer
                        .photo-frame
                          width: 100%
                          aspect-ratio: 1
                          img
                            width: 100%
                            object-fit: cover
                        h4
                          margin: 15px 0
                          font-size: 1.3rem
                          line-height: 1em
                          font-weight: 600
                          &.header-ganshyuge
                            margin: 3px 0 13.5px
                        p
                          line-height: 1.5em

        .modal
          position: fixed
          top: 0
          right: -100%
          width: 100vw
          height: 100vh
          background-color: rgba(0, 0, 0, .8)
          overflow: auto
          transition: .8s
          visibility: hidden
          opacity: 0
          z-index: fw.get_index(modal)
          &.activate-modal
            right: 0
            visibility: visible
            opacity: 1
          .container
            position: relative
            margin: 90px auto
            width: 74%
            padding: 5rem 9rem
            background: url(./img/bg.jpg) repeat
            .modal-close-btn
              position: absolute
              top: 60px
              right: 60px
              width: 40px
              height: 40px
              border-radius: 50%
              border: 1px solid #333
              transform: translateY(0)
              transition: .3s
              span
                +fw.positionAbsoluteCTL
                left: 18%
                content: ""
                width: 25px
                height: 2px
                background-color: #333
                &:first-of-type
                  transform: rotate(45deg)
                  transform-origin: center center 0
                &:last-of-type
                  transform: rotate(-45deg)
                  transform-origin: center center 0
              &:hover
                background-color: #eee
                transform: translateY(-1px)
                opacity: .5

            .guide-shrine-modal-header
              font-size: 1.95rem
              margin-bottom: 50px
              letter-spacing: 0
            p
              font-size: 1.15rem
              line-height: 1.75em
              + p
                margin-top: 1.25em
            .flex-grid
              display: grid
              grid-template-columns: repeat(2, 1fr)
              gap: 30px
              .paragraph
                .technical-name
                  margin-bottom: 20px
                  div
                    display: flex
                    font-size: 1.15rem
                    line-height: 1.15
                    dt
                      padding-top: 3px
                      font-size: 1rem
                      font-weight: 600
                      white-space: nowrap
                    + div
                      margin-top: 10px
              .photo-frame
                width: 100%
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
            .photos
              display: flex
              gap: 30px
              width: 100%
              .photo-frame
                width: 100%
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
            ul
              margin: 50px 0
              li
                position: relative
                padding-left: 1.15rem
                font-size: 1.15rem
                line-height: 1.25rem
                &::before
                  +fw.positionAbsoluteCTL($top: true)
                  left: 0
                  content: "・"
                + li
                  margin-top: 15px

.page 
  main 
    .contents 
      .container.guide-shrine 
        .modal.mukuroji-no-ki
          .container 
            .flex-grid
              grid-template-columns: repeat(6, 1fr)
              .paragraph
                grid-column: 1/5
              .photos
                grid-column: 5/7
                flex-direction: column

.page 
  main 
    .contents 
      .container.guide-shrine
        .modal.ukon-no-sakura
          .container 
            h4
              .left-side
                padding-left: -50px
              right-side
                padding-left: -50px

.page 
  main 
    .contents 
      .container.guide-shrine
        .modal.kaji-no-ki, .modal.sanyo-no-matsu
          .container 
            .flex-grid
              .photos
                flex-direction: column
.page 
  main 
    .contents 
      .container.guide-shrine
        .modal.kaji-no-ki
          .container 
            .flex-grid
              .photos
                .photo-frame
                  height: 40%

.page
  main 
    .contents 
      .container.guide-shrine 
        .modal.four-seasons
          .container
            div
              width: 100%
              display: flex
              gap: 30px
              figure
                width: 100%
                aspect-ratio: 1
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
                figcaption
                  display: grid
                  place-content: center
                  padding-top: 20px
                  font-size: 1.1rem
// .modal.jisyushya
.page
  main
    .contents
      .container.guide-shrine
        .modal.jisyushya
          .container
            .flex-grid
              &:last-of-type
                grid-template-columns: 1fr 1fr 2fr 1fr 1fr
                column-gap: 15px
            .leading-square-header
              margin: 30px 0 20px 
            dl
              margin-top: 30px
              background-color: rgba(255, 255, 255, .4)
              border-top: 1px solid fw.$gold
              border-bottom: 1px solid fw.$gold
              div
                display: flex
                align-items: center
                line-height: 1.5em
                &:first-of-type dt, &:first-of-type dd
                  padding: .75rem 0
                  line-height: 1em
                  span
                    letter-spacing: 1rem
                &:first-of-type dt
                  color: #fff
                  background-color: #A3A9B5
                &:first-of-type dd
                  font-weight: 600
                  text-align: center
                  background-color: #DCE1EE
                dt
                  display: flex
                  justify-content: center
                  align-items: center
                  width: 8rem
                  padding: 1.25rem 0
                  text-align: center
                  background-color: rgba(187, 153, 1, 0.4)
                dd
                  width: calc( 100% - 8rem )
                  padding-left: 1.5rem
                + div
                  border-top: 1px solid fw.$gold
// .modal.jisyushya
.page
  main
    .contents
      .container.guide-shrine
        .modal.senryushya
          .container
            .flex-grid
              margin-bottom: 20px
              .leading-square-header
                margin: 30px 0 10px    
// .modal.tomonoshya
.page
  main
    .contents
      .container.guide-shrine
        .modal.tomonoshya
          .container
            .flex-grid
              grid-template-columns: 3fr 6fr 3fr
              margin-bottom: 80px
              width: 100%
              figure
                width: 100%
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
                figcaption
                  margin-top: 20px
                  font-size: 1.1rem
                  text-align: center
              &:last-of-type
                grid-template-columns: repeat(2, 1fr)
                margin-top: 30px
            .leading-square-header
              margin: 30px 0 10px   
            p + p
              margin-top: 0 
// .modal.tomonoshya
.page
  main
    .contents
      .container.guide-shrine
        .modal.temizushya
          .container
            .leading-square-header
              margin-bottom: 20px
              &:last-of-type
                margin-top: 40px

.page
  main
    .contents
      .container.guide-shrine
        .bg
          section
            .contents.reiboku
              .gradually-appear-short
                +max(lg)
                  ul 
                    grid-template-columns: repeat(3, 1fr)
                +max(md)
                  ul 
                    grid-template-columns: repeat(1, 1fr)

.page
  main
    .contents
      .container.guide-shrine
        .bg
          section
            .contents.guide-map
              +max(md)
                padding: 60px 0 0

.page
  main
    .contents
      .container.guide-shrine
        .bg
          section
            .contents.guide-map
              +max(lg)
                .Illustrative-map
                  img
                    left: 55%
                    width: 85%

.page
  main
    .contents
      .container.guide-shrine
        .bg
          section
            .contents.guide-map
              +max(md)
                .header
                  padding: 0
                .Illustrative-map
                  display: grid
                  place-content: center
                  padding-bottom: 60px
                  position: unset
                  aspect-ratio: unset
                  img
                    display: none
                  ul
                    position: unset
                    text-align: center
                    li
                      .modal-open-trigger
                        padding: 20px 60px
.page
  main
    .contents
      .container.guide-shrine
        .bg
          section
            +max(md)
              .contents.reiboku
                padding: 60px 10% 0 

.page
  main
    .contents
      +max(md)
        .container.guide-shrine
          .modal
            .container
              margin: 0
              padding: 15px
              width: 100%
              .modal-close-btn
                top: 15px
                right: 15px
              .guide-shrine-modal-header
                margin: 45px 0 30px
                font-size: 1.5rem
                &::before, &::after
                  width: calc(50% - 75px)
// jisyushya
.page
  main
    .contents
      +max(md)
        .container.guide-shrine
          .modal.jisyushya
            .container
              .flex-grid
                grid-template-columns: repeat(1, 1fr)
              .leading-square-header
                font-size: 1.35rem
              dl
                div
                  line-height: 1.1em
                  dd
                    span
                      font-size: .85rem
// senryushya
.page
  main
    .contents
      +max(md)
        .container.guide-shrine
          .modal.senryushya
            .container
              .flex-grid
                grid-template-columns: repeat(1, 1fr)
              .leading-square-header
                font-size: 1.35rem
                &:first-of-type
                  margin-top: 0
// tomonoshya
.page
  main
    .contents
      +max(md)
        .container.guide-shrine
          .modal.tomonoshya
            .container
              .flex-grid
                grid-template-columns: repeat(1, 1fr)
                gap: 20px
                justify-content: center
                align-items: center
                margin: 0 auto 50px
                place-items: center
                figure
                  width: 70%
                  figcaption
                    margin-top: 10px
                &:last-of-type
                  grid-template-columns: repeat(1, 1fr)
                  figure
                    width: 100%
              .leading-square-header
                font-size: 1.35rem
                &:first-of-type
                  margin-top: 0
// temizushya
.page
  main
    .contents
      +max(md)
        .container.guide-shrine
          .modal.temizushya
            .container
              .flex-grid
                grid-template-columns: repeat(1, 1fr)
                gap: 20px
                justify-content: center
                align-items: center
                margin: 0 auto 30px
                place-items: center
                figure
                  width: 70%
                  figcaption
                    margin-top: 10px
                &:last-of-type
                  grid-template-columns: repeat(1, 1fr)
                  .photo-frame
                    grid-row: 2/3
                  .pragraph
                    grid-row: 1/2

              .leading-square-header
                font-size: 1.35rem
                &:first-of-type
                  margin-top: 0

// .page
//   main
//     .contents
//       .container.guide-shrine
//         .bg
//           section
//             .contents.guide-map
//               +max(md)
//                 .Illustrative-map
//                   ul              
