@use "../forwards" as fw
@use '../media-query' as *

.page
  main
    .contents.contact
      display: flex
      justify-content: center
      .form-wrapper
        width: min(890px, 95%)
        margin: 150px 0 100px
        padding: 60px 40px
        background-color: #fff
        border-radius: 15px
        box-shadow: 0 0 40px #eee
        p.center-align
          margin-bottom: 50px
          font-size: .95rem
          line-height: 1.3em
          text-align: center
        h2
          margin-bottom: 40px

.page
  .contact-form
    display: grid
    gap: 30px
    div
      dt p, dd p
        margin: 0
        font-size: .9rem
      dt
        display: flex
        align-items: center
        margin-bottom: 20px
        p
          span
            margin-right: 12px
            padding: 5px 8px
            font-size: 12px
            color: #fff
            background-color: red
            border-radius: 3px
      dd
        border: 1px solid #eee
        border-radius: 5px
        background-color: rgba(251, 251, 251, 0.6)
        transition: .3s
        &:hover
          border: 1px solid #333
        p
          position: relative
          span
            input
              padding: 15px
              width: 100%
              height: 100%
              font-size: 1rem
              font-weight: 300
              &::placeholder
                color: #aaa
              &:focus
                outline: none
                border: unset
          .wpcf7-not-valid-tip
            +fw.positionAbsoluteCTL()
        &.input-contents
          height: 200px
  .agreement
    margin-top: 50px
    &:first-of-type p br
      display: none
    p
      margin: 0 
      text-align: center
      font-size: .85rem 
      button
        display: inline-block
        width: 80%
        padding: 15px 30px
        font-size: 1.2rem
        color: #fff
        background-color: #333  
        border-radius: 4px 
        .wpcf7-spinner
          position: absolute
          right: 0
          top: 0
  .wpcf7-response-output
    line-height: 1.5em
    text-align: center

// body.contact
//   +max(sm)
//     padding: 20px
//     header
//       position: unset
//       padding: 27.5px 0 40px
//       .logo
//         img
//           height: 120px
//       h1
//         font-size: 17px
//     main
//       p
//         padding: 0 30px
//         font-size: .775rem
//         &:first-of-type
//           margin: 30px 0 20px
//         &:last-of-type
//           margin-bottom: 37.5px
//       .form-wrapper
//         width: calc(100% - 7.5px)
//         padding: 20px 0
//         h2
//           margin: 10px 25px
//           padding: 15px
//           font-size: .875rem
//         .contact-form
//           gap: 20px
//           padding: 0 25px 
//           div
//             dt
//               justify-content: flex-start
//               margin-bottom: 7px
//               p
//                 width: 100%
//                 padding: 0
//                 font-size: 1rem
//                 span
//                   margin-right: 8px
//                   padding: 4px 8px
//                   font-size: .6rem
//             dd
//               p
//                 span
//                   input
//                     font-size: .9rem
//         .agreement
//           margin-top: 25px
//           padding-top: 25px
//           p:first-of-type
//             padding: 0 25px
//             font-size: .65rem
//             text-align: justify
//           p:nth-of-type(2)
//             margin: 20px 0
//             padding: 0
//             button
//               width: 100%
//               margin: 0
//               padding: 20px 0
//               font-size: .8rem
//               font-weight: 500
//           p:last-of-type
//             padding: 0 5px
//             font-size: .75rem
//             line-height: 1.5
//     footer.footer-contact
//       padding: 35px 0 25px
//       font-size: .6rem