@use '../forwards' as fw
@use '../media-query' as *

.page
  header
    .wrapper
      .logo-space
        div
          .shrine-name.english
            font-size: 2rem
.page
  +max(md)
    header
      .wrapper
        .logo-space
          div
            .shrine-name.english
              display: block
              padding-top: 5px
              font-size: 1rem

.page
  main
    .frame.english
      +fw.background-image("./img/english-top.jpg")
      h1
        letter-spacing: 0
    .container.english
      em
        font-weight: 700
      .bg
        section
          .contents
            background-color: transparent
            &:first-of-type
              margin-top: 0
              padding-top: 140px
            &:last-of-type
              padding-bottom: 100px
            &.padding-top-none
              padding-top: 0
            .gradually-appear, .gradually-appear-long 
              h3
                &::before, &::after
                  width: calc( 50% - 90px) 
                &.eng-seidai-myoujin
                  &::before, &::after
                    width: calc( 50% - 215px) 
                &.eng-kemari
                  &::before, &::after
                    width: calc( 50% - 130px) 
                &.eng-ema
                  &::before, &::after
                    width: calc( 50% - 100px) 
              .lead-copy
                margin-bottom: 60px
                p
                  font-size: 1.1rem
                  font-weight: 500
                  display: block
                  &:last-of-type
                    margin-top: 1rem
              .inner-contents
                padding: 60px 0 80px
                &.padding-top-none
                  padding-top: 0
                .flex-container
                  display: grid
                  grid-template-columns: repeat(2, 1fr)
                  gap: 30px
                  &.flex-column
                    display: flex
                    flex-direction: column
                    grid-template-columns: unset
                  &.irregularity-gosaizin
                    grid-template-columns: repeat(5, 1fr)
                    .size-small
                      grid-column: 1/3
                      grid-row: 1/2
                      width: 100%
                      height: 100%
                      img
                        aspect-ratio: 1
                        width: 100%
                        object-fit: cover
                    .paragraph
                      grid-column: 3/6
                      grid-row: 1/2
                  &.reverse-irregularity-gosaizin
                    .size-small
                      grid-column: 2/3
                      grid-row: 1/2
                      width: 100%
                      height: 100%
                      padding-top: 5%
                      img
                        width: 80%
                    .paragraph
                      grid-column: 1/2
                      grid-row: 1/2
                  &.reverse-irregularity-history
                    grid-template-columns: repeat(4, 1fr)
                    .size-learge
                      grid-column: 2/5
                      grid-row: 1/2
                      width: 100%
                      height: 100%
                      img
                        width: 100%
                    .paragraph
                      grid-column: 1/2
                      grid-row: 1/2
                  + .flex-container
                    margin-top: 20px
                  .paragraph
                    .wrapper + .wrapper
                      margin-top: 25px
                    ul
                      margin-top: 30px
                      li
                        font-size: 1rem
                        line-height: 1em
                        text-align: left
                        + li
                          margin-top: 15px
                  .photos
                    display: flex
                    flex-direction: column
                    gap: 30px
                    .photo-frame
                      width: 100%
                      aspect-ratio: 3/2
                      img
                        margin-top: 0
                        width: 100%
                        height: 100%
                        object-fit: cover
                    &.ema
                      flex-direction: row

.page
  main
    .container.english
      .bg
        section
          +max(md)
            .contents:first-of-type 
              padding-top: 60px
              .lead-copy
                padding: 0 1rem
                p
                  font-size: 1rem
                  line-height: 1.5em
                  text-align: center
            .contents
              .gradually-appear, .gradually-appear-long
                .inner-contents
                  padding: 40px 1rem 0
                  .flex-container, .flex-container.reverse-irregularity-history, .flex-container.irregularity-gosaizin
                    display: flex
                    flex-direction: column-reverse
                    gap: 10px
                    p
                      font-size: 1rem
                      line-height: 1.7
                      text-align: left
                      + p
                        margin-top: 15px
                    .photos
                      margin-top: 20px
                      &.ema
                        flex-direction: column
.page
  main
    +max(md)
      .frame.english
        h1
          display: inline-block
          width: max-content
          padding: 20px 15px
          font-size: 1.5rem
          line-height: 1em
.page
  main
    +max(md)
      .container.english
        .bg
          section
            .contents 
              padding-top: 70px
.page
  main
    +max(md)
      .container.english
        .bg
          section
            .contents.JUNNIN 
              padding-top: 60px