@use '../forwards' as fw
@use '../media-query' as *

.page
  main
    .frame
      +fw.background-image("./img/page-about-0.jpg")
      position: relative
      height: 500px
      img
        width: 100%
        height: 100%
        object-fit: cover
      h1
        +fw.positionAbsoluteCTL($left: ture)
        top: 55%
        padding: 25px 120px
        font-size: 1.85rem
        font-weight: 300
        letter-spacing: .3em
        color: #fff
        border: 1px solid #fff
    .container
      .bg
        section
          width: min(1150px, 100%)
          margin: 0 auto
          h2
            position: relative
            padding-bottom: 0
            padding-top: 170px
            font-size: 1.85rem
            line-height: 1em
            letter-spacing: .3em
            &::after
              content: none
            img
              +fw.positionAbsoluteCTL($left: true)
              width: 70px
              bottom: 60px
              opacity: .5
          .contents
            display: flex
            flex-direction: column
            align-items: center
            padding-top: 70px
            background-color: #fff
            &:first-of-type
              margin-top: 100px
            &:last-of-type
              padding-bottom: 100px
            .gradually-appear, .gradually-appear-long
              h3
                position: relative
                width: 100%
                text-align: center
                font-size: 1.75rem
                line-height: 1
                letter-spacing: .5em
                &::before, &::after
                  +fw.positionAbsoluteCTL($top: true)
                  content: ""
                  width: calc(50% - 120px)
                  height: 1px
                  background-color: #333
                &::before                
                  right: 0
                &::after
                  left: 0
                &.none-letter-space
                  letter-spacing: 0
              .inner-contents
                padding: 60px
                &.font-size-lg
                  text-align: center
                div
                  text-align: center
                  font-size: 1.5rem
                  line-height: 2em
                  br
                    display: none
                .flex-container
                  display: grid
                  grid-template-columns: repeat(2, 1fr)
                  gap: 30px
                  div
                    width: 100%
                    img
                      width: 100%
                      aspect-ratio: 3/2
                      object-fit: cover
                      &:first-of-type
                        margin-top: 10px
                      + img
                        margin-top: 80px
                    p
                      font-size: 1.1rem
                      line-height: 1.8em
                      text-align: justify
                      + p
                        margin-top: 26px
                      em
                        // 指示
                        // font-weight: 800
                        font-style: normal
// page top image
.page
  main
    +max(md)
      .frame
        +fw.background-image("./img/page-about-0-portrait.jpg")
        height: 100vh
        h1
          +fw.positionAbsoluteCTL()
          font-size: 1.5rem
          letter-spacing: 0

// page top image
.page
  main
    +max(lg)
      .frame
        h1
          display: inline-block
          width: max-content
          padding: 20px 50px

.page
  main
    .container
      .bg
        section
          .contents
            +max(md)
              padding-top: 40px
              .gradually-appear, .gradually-appear-long
                h3
                  font-size: 1.5rem
                  letter-spacing: 0
                  &::before, &::after
                    width: calc( 50% - 90px)
                .inner-contents
                  padding: 40px 15px
                  div
                    font-size: 1.25rem
                    line-height: 1.25em
                    + div
                      margin-top: 15px
                    br
                      display: block
                  .flex-container
                    grid-template-columns: repeat(1, 1fr)
                    gap: 10px
                    div
                      img + img
                        margin-top: 15px
                      p
                        font-size: 1rem
                        line-height: 1.7
                        + p
                          margin-top: 15px